[submodule "src/libsoba"]
	path = src/libsoba
	url = https://github.com/Inochi2D/libsoba
[submodule "src/i2d-cairo"]
	path = src/i2d-cairo
	url = https://github.com/Inochi2D/i2d-cairo
[submodule "src/inmath"]
	path = src/inmath
	url = https://github.com/Inochi2D/inmath
[submodule "src/numem"]
	path = src/numem
	url = https://github.com/Inochi2D/numem
[submodule "src/i2d-harfbuzz"]
	path = src/i2d-harfbuzz
	url =  https://github.com/Inochi2D/i2d-harfbuzz
[submodule "src/i2d-blend2d"]
	path = src/i2d-blend2d
	url = https://github.com/Inochi2D/i2d-blend2d
